{% extends 'base_main.html' %}

{% block title %}
    天天生鲜-用户中心
{% endblock %}


{% block js %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
{% endblock %}


{% block search %}
    {% load static %}
    <div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>
{% endblock %}

{% block content %}
    {% csrf_token %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:info' %}" >· 个人信息</a></li>
				<li><a href="/user/all_orders/1/" class="active">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in orders %}
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">
                            {% if order.pay_status == 'paying' %}
                                {{ order.add_time }}
                            {% else %}
                                {{ order.pay_time }}
                            {% endif %}
                        </li>
                        <li class="col02">订单号：{{ order.id }}</li>
                        <li class="col02 stress">
                            {% if order.pay_status == 'paying' %}
                                未支付
                            {% else %}
                                已支付
                            {% endif %}
                        </li>
				    </ul>
                    <table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for goods in order.goods_order_list %}
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><img src="{{ goods.goods.goods_front_image }}"></li>
                                        <li class="col02">{{ goods.goods.name }}<em>{{ goods.goods.shop_price }}/件</em></li>
                                        <li class="col03">{{ goods.goods_nums }}</li>
                                        <li class="col04">{{ goods.total_price }}元</li>
								    </ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.order_mount }}元</td>
							<td width="15%">
                                {% if order.pay_status == 'paying' %}
                                待付款
                                {% else %}
                                    已付款
                                {% endif %}
                            </td>
							<td width="15%"><a href="#" class="oper_btn">
                                {% if order.pay_status == 'paying' %}
                                    去付款
                                {% else %}
                                    查看物流
                                {% endif %}
                                </a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
				<div class="pagenation">
					{% if page_list.0 > 1%}
                            <a href="/user/all_orders/{{ page_list.0|add:-1 }}/"><上一页</a>
                    {% endif %}
                    {% for page_num in page_list.1 %}
                            <a href="/user/all_orders/{{ page_num }}/"
                            {% if page_num == page_list.0 %}
                                class="active"
                            {% endif %}
                            >{{ page_num }}</a>
                            class="active"
                    {% endfor %}
                    {% if page_list.0 < page_list.2%}
                            <a href="/user/all_orders/{{ page_list.0|add:1 }}/">下一页></a>
                    {% endif %}
				</div>
		</div>
	</div>
{% endblock %}